<style>
  .create-button {
    border-radius: 15px;
  }

  .search-form {
    min-width: 40%;
    border: 1px solid rgb(193, 185, 185);
    height: 40px;
    justify-content: space-between;
  }

  .search-form button {
    width: 40px;
    height: auto;
  }

  input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
  }

  .sort-button {
    border-radius: 15px;
    width: 60px;
  }

  .drinks-ul {
    margin: 1rem;
  }

  .drinks-ul li {
    margin: 1rem 0;
    border-bottom: 1px solid rgb(197, 192, 192);
  }

  .drinks-ul img {
    width: 100px;
    height: 100px;
    padding: 0.5rem;
    border-radius: 15px;
  }

  .drink-info {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .drink-info span {
    font-size: 2rem;
    width: 80%;
  }

  .drink-info input {
    width: 20px;
  }

  .drink-controller {
    display: flex;
    align-items: center;
  }

  .drink-controller a {
    text-align: center;
    line-height: 100px;
    width: 5rem;
    height: 100%;
    background-color: #E9E5E2;
  }

  .drink-controller a:hover {
    background-color: gray;
    color: white;
  }

  .drink-controller form {
    width: 5rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .drink-controller button {
    background-color: #E9E5E2;
    height: 100%;
    color: black;
  }

  .drink-controller button:hover {
    color: white;
  }
</style>

<div class="d-flex">
  {{> admin-sidebar}}
  <main class="ms-2 me-2 border w-100">
    <div class="top-controller d-flex justify-content-between m-2">
      <button class="create-button" style="width: 150px;">新增</button>

      <form class="search-form" action="" method="post" style="display: flex;">
        <input type="text">
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>

      <div class="btn-group">
        <button type="button" class="sort-button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-filter"></i>
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
          <li><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
      </div>
    </div>
    <ul class="drinks-ul">
      {{#each drinks}}
      <li class="d-flex w-100">
        <img src="https://i.imgur.com/EfBh0sM.png" alt="">
        <div class="drink-info">
          <span><a href="/admin/drinks/{{this._id}}">{{this.name}}</a></span>
          <label for="">熱門商品</label>
          <input type="checkbox" disabled {{#if this.isPopular}}checked{{else}}{{/if}}>
        </div>
        <div class="drink-controller">
          <a href="/admin/drinks/{{this._id}}/edit">編輯</a>
          <form action="/admin/drinks/{{this._id}}/delete" method="post">
            <button type="submit">刪除</button>
          </form>
        </div>
      </li>
      {{/each}}

      <li class="d-flex w-100">
        <img src="https://i.imgur.com/pV6uBUp.jpg" alt="">
        <div class="drink-info">
          <span>name</span>
          <label for="">熱門商品</label>
          <input type="checkbox" disabled>
        </div>
        <div class="drink-controller">
          <a href="">編輯</a>
          <form action="" method="post">
            <button type="submit">刪除</button>
          </form>
        </div>
      </li>
      <li class="d-flex w-100">
        <img src="https://i.imgur.com/pV6uBUp.jpg" alt="">
        <div class="drink-info">
          <span>name</span>
          <label for="">熱門商品</label>
          <input type="checkbox" disabled checked>
        </div>
        <div class="drink-controller">
          <a href="">編輯</a>
          <form action="" method="post">
            <button type="submit">刪除</button>
          </form>
        </div>
      </li>

    </ul>
  </main>
</div>