<style>
  .create-button {
    border-radius: 15px;
  }

  .search-form {
    min-width: 40%;
    border: 1px solid rgb(193, 185, 185);
    height: 40px;
    justify-content: space-between;
  }

  .search-form button {
    width: 40px;
    height: auto;
  }

  .search-input {
    width: 100%;
  }

  .sort-button {
    border-radius: 15px;
    width: 60px;
  }

  .drinks-ul {
    margin: 1rem;
  }

  .drinks-ul li {
    margin: 1rem 0;
    border-bottom: 1px solid rgb(197, 192, 192);
  }

  .drinks-ul img {
    width: 100px;
    height: 100px;
    padding: 0.5rem;
    border-radius: 15px;
  }

  .drink-info {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .drink-info span {
    font-size: 2rem;
    width: 80%;
  }

  .drink-info input {
    width: 20px;
  }

  .drink-controller {
    display: flex;
    align-items: center;
  }

  .drink-controller a {
    text-align: center;
    line-height: 100px;
    width: 5rem;
    height: 100%;
    background-color: #E9E5E2;
  }

  .drink-controller a:hover {
    background-color: gray;
    color: white;
  }

  .drink-controller form {
    width: 5rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .drink-controller button {
    background-color: #E9E5E2;
    height: 100%;
    color: black;
  }

  .drink-controller button:hover {
    color: white;
  }
</style>

<div class="d-flex">
  {{> admin-sidebar}}
  <main class="ms-2 me-2 border w-100">
    <div class="top-controller d-flex justify-content-between m-2">
      <button class="create-button" style="width: 150px;" data-bs-toggle="modal" data-bs-target="#create-modal">
        新增
      </button>

      <form class="search-form" action="/admin/drinks/search" method="post" style="display: flex;">
        <input class="search-input" type="text" name="keyword" value="{{keyword}}" required>
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>

      <div class="btn-group d-none">
        <button type="button" class="sort-button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-filter"></i>
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
          <li><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
      </div>
    </div>
    <ul class="drinks-ul">
      {{!-- 透過#each 渲染飲品資料 --}}
      <h1>
        {{message}}
      </h1>
      {{#each drinks}}
      <li class="drinks-li d-flex w-100">
        <img src="https://i.imgur.com/EfBh0sM.png" alt="">
        <div class="drink-info">
          <span><a href="/admin/drinks/{{this._id}}">{{this.name}}</a></span>
          <label for="">熱門商品</label>
          <input type="checkbox" disabled {{#if this.isPopular}}checked{{else}}{{/if}}>
        </div>
        <div class="drink-controller">
          <a href="/admin/drinks/{{this._id}}/edit">編輯</a>
          <form class="form-{{this._id}}" action="/admin/drinks/{{this._id}}/delete?_method=DELETE" method="post">
            <button data-id="{{this._id}}" class="delete-button" type="submit">刪除</button>
          </form>
        </div>
      </li>
      {{/each}}
      {{!-- 渲染終點 --}}
    </ul>
  </main>
</div>

<div class="modal fade" id="create-modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">新增</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/admin/drinks" method="post">
        <div class="modal-body">
          <div class="mb-4">
            <label for="name" class="me-2">飲料名稱 :</label>
            <input name="name" id="name" type="text">
          </div>
          <div class="d-flex mb-4">
            <label for="note" class="me-2">備　　註 :</label>
            <textarea nname="note" id="note" cols="40"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit">儲存</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  const drinksgroup = document.querySelector('.drinks-ul')

  function deleteDrink(event) {
    const target = event.target

    if ((target.matches('.delete-button'))) {
      event.preventDefault()

      swal({
        title: "確定刪除資料?",
        icon: "warning",
        text: "刪除的資料將無法恢復",
        buttons: true,
        dangerMode: true
      }).then(check => {
        if (check) {
          const id = target.dataset.id
          document.querySelector(`.form-${id}`).submit()
        }
      })
    }
  }

  drinksgroup.addEventListener('click', deleteDrink)
</script>