<style>
  main {
    padding: 0 1rem;
  }

  .create-button {
    border-radius: 15px;
  }

  .title-ul {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
  }

  .title-ul li {
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    background-color: #E9E5E2;
  }

  .stores-ul {
    margin: 1rem 0;
  }

  .stores-ul li {
    display: grid;
    grid-template-columns: 9fr 1fr;
    margin-bottom: 1rem;
  }

  .stores-ul li .edit-form {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 2fr 1fr 3fr 2fr 1fr;
  }

  .stores-ul .edit-button,
  .stores-ul .delete-button {
    color: black;
    background-color: #E9E5E2;
  }

  .stores-ul .edit-button:hover {
    color: white;
    background-color: gray;
  }

  .stores-ul .delete-button:hover {
    color: white;
    background: rgb(214, 55, 55)
  }
</style>

<div class="d-flex">
  {{> admin-sidebar isStoresPage="Y"}}
  <main class="ms-2 me-2 border w-100">
    <div class="top-controller">
      <button class="create-button" style="width:150px;" data-bs-toggle="modal" data-bs-target="#create-modal">
        新增
      </button>
    </div>
    <div class="stores-group">
      <ul class="title-ul">
        <li>門市名稱</li>
        <li>門市地址</li>
        <li>門市電話</li>
        <li>編輯/刪除</li>
      </ul>
      <ul class="stores-ul">

        {{#each stores}}
        <li data-id="{{this._id}}">
          <form class="edit-form" action="/admin/stores/{{this._id}}/edit?_method=PUT" method="post">
            <input name="name" type="text" value="{{this.name}}" disabled required>
            <select class="city-select" id="dropdown" name="cityId" data-id="{{this.cityId._id}}" disabled>
              {{#each ../cities}}
              <option class="city-option" value="{{this._id}}">{{this.name}}</option>
              {{/each}}
            </select>
            <input name="address" type="text" value="{{this.address}}" disabled required>
            <input name="phone" type="text" value="{{this.phone}}" disabled required>
            <button type="submit" class="edit-button" data-id="{{this._id}}">編輯</button>
          </form>
          <form class="delete-form" action="">
            <button class="delete-button" type="submit">刪除</button>
          </form>
        </li>
        {{/each}}



      </ul>
    </div>
  </main>
</div>

<script>
  const citySeletc = document.querySelectorAll('.city-select')
  const storesUl = document.querySelector('.stores-ul')

  citySeletc.forEach(select => {
    const options = select.querySelectorAll('option')
    options.forEach(option => {
      if (option.value === select.dataset.id) {
        option.selected = true
      }
    })
  })

  function toggleEdit(e) {
    if (e.target.textContent === "編輯") {
      //取消表單傳送
      e.preventDefault()
      //將已經改變成可編輯狀態的<li>回歸成不可編輯狀態
      storesUl.querySelectorAll('input').forEach(input => input.disabled = true)
      storesUl.querySelectorAll('select').forEach(select => select.disabled = true)
      storesUl.querySelectorAll('.edit-button').forEach(button => button.textContent = '編輯')

      //將已選取的<li>標籤進行轉換成可編輯狀態
      const li = document.querySelector(`[data-id="${e.target.dataset.id}"]`)
      const formInputs = li.querySelectorAll('input')
      const formSelect = li.querySelector('select')
      formSelect.disabled = false
      formInputs.forEach(input => input.disabled = false)
      e.target.textContent = '儲存'
    }
  }

  storesUl.addEventListener('click', toggleEdit)

</script>