<style>
  .img-container {
    height: auto;
    position: relative;
  }

  .img-container img {
    object-fit: cover;
  }

  .img-container .fa-camera {
    text-shadow: 2px 2px 4px #000000;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: white;
    cursor: pointer;
    z-index: 1;
  }

  .img-container .fa-xmark {
    text-shadow: 2px 2px 4px #000000;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    right: 5%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: white;
    cursor: pointer;
    z-index: 1;
  }
</style>

<div class="drink-container d-flex mb-3">
  <div class="img-container">
    <img src="{{#if drink.image}} {{drink.image}} {{else}}https://i.imgur.com/EfBh0sM.png {{/if}}" alt="">
    {{#if isViewOnly}}
    {{else}}
    <label for="image-update">
      <i class="fa-solid fa-camera"></i>
    </label>
    <input class="d-none" name="image" type="file" id="image-update">
    <i class="fa-solid fa-xmark"></i>
    {{/if }}
  </div>
  <div class="text-container p-3">
    <div>
      <label for="name">名稱 :</label>
      <input name="name" type="text" id="name" value="{{drink.name}}" {{#if isViewOnly}}disabled{{/if}}>
    </div>
    <div class="checkbox-container d-flex">
      <div>
        <label for="is-popular">熱門</label>
        <input name="isPopular" id="is-popular" type="checkbox" {{#if drink.isPopular}}checked value="true" {{else}}
          {{/if}} {{#if isViewOnly}}disabled{{/if}}>
      </div>
      <div>
        <label for="is-delisted">失效</label>
        <input name="isDelisted" id="is-delisted" type="checkbox" {{#if drink.isDelisted}}checked value="true" {{else}}
          {{/if}} {{#if isViewOnly}}disabled{{/if}}>
      </div>
    </div>
    <div class="d-block">
      <label class="d-block" for="note">備註 :</label>
      <textarea name="note" id="note" cols="90" rows="10" {{#if isViewOnly}}disabled{{/if}}>{{drink.note}}</textarea>
    </div>

    <button {{#if isViewOnly}} {{else}}type="submit" {{/if}} class="edit-button">{{#if isViewOnly}}編輯 {{else}}儲存
      {{/if}}</button>
    <button class="delete-button" data-id="{{drink._id}}">刪除</button>
  </div>
</div>